 <ion-header>
    <ion-toolbar color='primary'>
      <ion-title>
          <ion-card-content>
              <p style="font-size: 30px;color: honeydew " > Hospital Management System</p>
                  
                <ion-grid > 
                  <ion-row style="margin-left: 0px"> 

                    <div class="drop" >
                      <label class="item item-input item-select">
                        <ion-button>
                          <select  style="color:blue">
                            <option>Doctors</option>
                            <option >DR:Javeed gujar</option>
                            <option>DR:Aqib Khan</option>
                            <option>DR:Shunaid</option>
                            <option>DR:Mamoon</option>
                          </select>
                        </ion-button>
                      </label>
                  </div>

                  <div class="drop" >
                    <label class="item item-input item-select">
                      <ion-button>
                        <select  style="color:blue">
                          <option>Department</option>
                          <option>Allergy and Clinical Immunology Unit.</option>
                          <option>Anesthesiology and Intensive Care</option>
                          <option>Anesthesiology – Pain Clinic</option>
                          <option>Bone Marrow Transplantation.</option>
                        </select>
                      </ion-button>
                    </label>
                </div>
                
              <div class="drop" >
                <label class="item item-input item-select">
                  <ion-button>
                    <select  style="color:blue">
                      <option>Sindh</option>
                      <option>Punjab</option>
                      <option>Kpk</option>
                      <option>Balochistan</option>
                    </select>
                  </ion-button>
                  
                </label>
            </div>

                  </ion-row>
                  </ion-grid>

                  </ion-card-content>
      </ion-title>
    </ion-toolbar>
  </ion-header> 
  

<ion-content>
   
      <ion-card class="welcome-card">
          <img class="displayed"  height="400 px"  src="/assets/icon/pics.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Hospital Managment</ion-card-subtitle>
            <ion-card-title>Welcome to Hospital</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>I always feel better when my doctor says something is normal for my age but then think dying will also be normal for my age at some point.</p>
          </ion-card-content>
        </ion-card>
  
        <ion-list lines="none">
            <ion-list-header>
              <ion-label >10 LINES ON DOCTOR</ion-label>
            </ion-list-header>
            <p>
                A Doctor is a person who cures us, when we fall ill we go to the doctor. After asking our condition and symptoms he use to give us medicines, some times he suggests for certain tests in order to know the exact ailment and after examining the test reports he starts the treatment. Doctor is considered as second form of god, as doctor saves his patient’s life by treatment and sometimes operating on him. Without doctor in this world, life could have come to an end.There are various kinds of doctors for a particular disease and ailment; they are called “specialists”, as they specialize in curing those problems and making their patients fit and healthy.
            </p>
            <ion-item >
              <ion-label>1) A doctor is a person who has a degree in medical science and whose profession is to treat and cure people who are ill or injured.</ion-label>
            </ion-item>
            <ion-item >
              <ion-label>2) When a doctor does his job in a hospital or clinic it is called as “Practice” and sometimes he is also called as “Medical Practitioner”.</ion-label>
            </ion-item>
            <ion-item >
              <ion-label>3) To do his job or practice in any hospital or in his own clinic he needs a licence, without which he is not eligible to do this and will be considered as illegal.</ion-label>
            </ion-item>
            <ion-item >
              <ion-label>4) In India to practice as a doctor, one has to get registered with “Medical Council of India” (MCI), which grants license to the doctors.</ion-label>
            </ion-item>
            <ion-item >
                <ion-label>5) There are various colleges and institutions which provides medical degree and among them, AIIMS is considered as a premier institute.</ion-label>
              </ion-item>
  
              <ion-item >
                  <ion-label>6) Before treating a patient, a doctor examines him by asking questions; knowing about the symptoms, by check ups and tests, it called as “Diagnose”.</ion-label>
                </ion-item>
                <ion-item >
                    <ion-label>7) He is assisted with a “Nurse” and a “Compounder”, a nurse assists him in doing the treatment and a compounder gives medicine to patient.</ion-label>
                  </ion-item>
                  <ion-item >
                      <ion-label>8) He has a “Stethoscope” always hanging around his neck; with that device he tries to listen heart beats or certain other sounds in a body.</ion-label>
                    </ion-item>
                    <ion-item >
                        <ion-label>9) Doctors earn high respect and regards in the society; therefore, it is a good career option also.</ion-label>
                      </ion-item>
                      <ion-item >
                          <ion-label>10) Doctors not only treat physical ailments, but also the mental ailments of a patient; such doctors are called Psychiatrists.</ion-label>
                        </ion-item>
                                                      
          </ion-list>
    
        
  
        <ion-grid style="margin-left: 170px">
          <ion-row>
            <ion-card style="width: 300px">
                <img  src="/assets/icon/pics.jpg" />
            </ion-card>
  
            <ion-card style="width: 300px">
                <img  src="/assets/icon/que.jpg" />
              </ion-card>
  
              <ion-card style="width: 300px">
                  <img  src="/assets/icon/quet.jpg" />
                </ion-card>
          </ion-row>
        </ion-grid>
  
  </ion-content>




